<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
</head>
<body>

    <header class="cabecalho">
        <h1>Gotham system</h1>
        <nav class="navegar"> 
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="#sect">Products</a></li>
        </nav>
        <nav class="entrada">
            
                <a href="/templates/form.html">Entrar</a>
            
        </nav>

    </header>
    
</body>
</html>